@font-face {
    font-family: 'barlow_condensedmedium';
    src: url('font/barlowcondensed-medium-webfont.woff2') format('woff2'),url('font/barlowcondensed-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}
#logo_m{
display: none
}
#logo {
display: inline-block;
position: absolute;
top: 0;
padding: 0;
margin: 0;
margin-top: 2%;
margin-right: 0.9%;
z-index: 1;
width: 5%;
float: right;
right: 2%
}
#logo > img{
border-radius: 0;
width: 80%
}
body{
    background-color:#7F669D;
    font-family: 'barlow_condensedmedium';
    margin:0
}
section{
    background-color:#BA94D1;
    margin:20px;
    padding:1%
}
h1{
    text-align:center;
    background-color: #DEBACE;
}
h2{
    color:purple;
    font-size:30px
}
